html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}


body {
  font-size: 14px;
  line-height: 1.4;
  background-color: $white;
  color: $dark-500;
  letter-spacing: 0.03em;
  @extend %opensans;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
}

.lock {
  overflow: hidden;
}

.layer {
  background-color: rgba($black, .6);
  height: 100%;
  width: 100%;
  z-index: 999;

  &--active {
    position: fixed;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-bottom: 72px;
}

.btn {
  padding: 12px 24px;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.3;
  background-color: $green-900;
  @extend %opensans;
  font-weight: 400;
  color: $white;
  border-radius: 6px;
  cursor: pointer;
  border: transparent;
  display: inline-block;
  transition: all 0.3s;

  &:focus {
    outline: 0;
    box-shadow: 0px 0px 0px 4px $green-200;
  }

  &:hover {
    background-color: $green-1200;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba($black, 0.25);
    background-color: $green-900;
    color: rgba($white, 0.5);
  }
}