@mixin line-clamp($font-size,
  $line-height,
  $lines-to-show) {
  @if unitless($line-height)==false {
    $line-height: create-unitless-line-height($font-size, $line-height);
  }

  display: block; // Fallback for non-webkit browsers
  display: -webkit-box;
  font-size: $font-size+px;
  max-height: ($font-size * $line-height * $lines-to-show)+px; // Fallback for non-webkit browsers
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}


$xga: 1024;
$xl: 992;
$ml: 768;
$md: 568;
$se: 360;

@mixin r($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}
// @mixin r($width) {
//   @media only screen and (max-width: $width + "px") {
//     @content;
//   }
// }

@mixin l($width) {
    @media screen and (orientation:landscape) and (max-width: $width + "px") {
      @content;
    }
  }

  // @include r($md) {

  // }