$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$green-1200: #4D810C;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;
$black: #000000;
$black-400: #2b2b2b;

%opensans {
  font-family: 'OpenSans', sans-serif;
}

%ruda {
  font-family: 'Ruda', sans-serif;
}

$xga: 1200;
$xl: 992;
// $ml: 768;
$ml: 834;
$md: 568;
$se: 360;

%checked-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}