@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'libs';
@import 'reset';
@import 'global';

.header {
  background-color: $green-900;
  position: relative;

  &__top {
    padding: 16px 0;
    font-size: 13px;
    background-color: $dark-800;
    color: $white;
    left: 0;
    right: 0;
    text-transform: uppercase;
    @extend %opensans;
    font-weight: 700;

    @include r($xl) {
      padding: 15px 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    padding: 25px 0;

    @include r($xga) {
      padding: 20px 0;
    }

    @include r($ml) {
      padding: 10px 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    @include r($xl) {
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: 24px;

    @include r($xga) {
      margin-right: 15px;
    }

    @include r($xl) {
      display: none;
    }
  }

  &__logo-mobile {
    display: none;

    @include r($xl) {
      display: block;
    }
  }

  &__catalog {
    margin-right: 30px;

    @include r($xga) {
      margin-right: 20px;
    }
  }

  &__search {
    margin-right: 46px;

    @include r($xga) {
      margin-right: 20px;
    }

    @include r($xl) {
      margin-right: 0;
    }
  }
}

.mobile__btn {
  display: none;
  position: relative;
  z-index: 99;
  height: 20px;
  width: 30px;

  @include r($xl) {
    display: block;
  }


  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #fff;
    transition: transform 0.4s;
  }

  & span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 9px;
    transition: transform 0.4s;
  }

  &::after {
    bottom: 0;
  }

  &::before {
    top: 0;
  }
}

.menu-mobile {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  background-color: $white;
  border: 1px solid #EBEBEB;
  display: none;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s;
  overflow: auto;

  &--active {
    transform: translateX(0);
  }

  @include r($xl) {
    display: block;
  }

  &__logo {
    margin-bottom: 26px;
    display: inline-block;
  }

  &__btn {
    position: absolute;
    right: 26px;
    top: 47px;
  }

  &__user {
    background-color: $green-900;
    font-size: 18px;
    line-height: 1;
    color: $white;
    padding: 15px 58px 15px 56px;
    background-image: url('../images/icons/user.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    display: block;
  }

  &__catalog {
    display: block;
    font-size: 18px;
    line-height: 1;
    padding: 15px 86px 15px 56px;
    background-image: url('../images/icons/nav.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }
}

.contacts {
  display: flex;

  @include r($xl) {
    font-size: 0;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 48px;

      @include r($xl) {
        margin-right: 0;
      }
    }
  }

  &__link {
    transition: opacity 0.3s;
    position: relative;

    &:hover {
      opacity: 0.7;
    }

    &--address,
    &--tel {
      &::after {
        content: '';
        position: absolute;
        width: 32px;
        height: 23px;
        left: 0;
        top: -3px;

        @include r($xl) {
          top: -1px;
        }
      }
    }

    &--address {
      padding-left: 45px;

      @include r($xl) {
        padding-left: 55px
      }

      &::after {
        background-image: url('../images/icons/del-address.svg');
      }
    }

    &--tel {
      padding-left: 34px;

      @include r($xl) {
        padding-left: 15px;
      }

      &::after {
        background-image: url('../images/icons/tel.svg');
        width: 22px;
      }
    }
  }
}

.info {
  display: flex;

  @include r($xl) {
    display: none;
  }

  &__list {
    transition: opacity 0.3s;

    &:not(:last-child) {
      margin-right: 24px;

      @include r($xl) {
        margin-right: 18px;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.catalog {
  max-width: 240px;
  width: 100%;
  padding: 15px 38px 15px 61px;
  @extend %opensans;
  font-weight: 600;
  color: $green-900;
  background-color: $white;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  transition: border-radius 0.8s, background-color 0.5s;

  @include r($xl) {
    display: none;
  }

  &--inactive,
  &--active {
    &::after {
      content: '';
      background-image: url('../images/icons/arrow-down.svg');
      width: 7px;
      height: 4px;
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-45%);
      transition: transform 0.5s;
    }
  }

  &--active {
    background-color: $green-200;
    border-radius: 6px 6px 0 0;

    &::after {
      transform: translateY(-45%) rotateX(180deg);
    }
  }

  &:hover {
    background-color: $green-200;
    border-radius: 6px 6px 0 0;

    &::after {
      transform: translateY(-45%) rotateX(180deg);
      transition: transform 0.5s;
    }
  }


  &::before {
    content: '';
    background-image: url('../images/icons/nav.svg');
    position: absolute;
    width: 25px;
    height: 17px;
    left: 18px;
    bottom: 17px;
  }

  &__items {
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 240px;
    width: 100%;
    color: $black;
    background-color: $white;
    border-radius: 0 0 6px 6px;
    text-align: start;
    transform: scaleY(0);
    opacity: 0.7;
    transform-origin: 0 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s, transform-origin 0.3s;

    &--active {
      display: block;
      top: 49px;
      transform: scaleY(1);
      transform-origin: 100% 0;
      opacity: 1;
      transition: transform 0.4s ease-in-out;
    }

  }

  &__link {
    display: block;
    padding: 12px 24px;
    border: 1px solid rgba($silver-600, 0.3);
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    font-weight: 400;
    transition: color 0.1s, border-left 0.1s;

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;
    }
  }
}


.search {
  max-width: 576px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include r($xga) {
    width: 70%;
  }

  @include r($md) {
    position: absolute;
    border: 1px solid $dark-800;
    margin: 0 -15px;
    width: 100%;
    top: 100%;
    z-index: 1;
    transform: scaleY(0);
    opacity: 0.7;
    transform-origin: 0 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, transform-origin 0.3s ease-out;
  }

  &--active {
    @include r($md) {
      top: 112px;
      transform: scaleY(1);
      transform-origin: 100% 0;
      opacity: 1;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out, transform-origin 0.3s ease-out;
    }
  }

  &__input {
    background-color: $white;
    padding: 15px;
    padding-left: 51px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    border-radius: 6px 0 0 6px;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 12px center;

    @include r($md) {
      border-radius: 0;
    }
  }

  &__btn {
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 52px;
    background-color: $dark-900;
    border-radius: 0 6px 6px 0;
    @extend %opensans;
    font-weight: 600;
    color: $white;
    letter-spacing: 0.03em;

    @include r($xga) {
      padding: 15px 35px;
    }

    @include r($md) {
      border-radius: 0;
      padding: 15px 26px;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5)
    }

    &:hover {
      background: rgba($dark-800, 0.85);
    }
  }

}

.user-nav {
  display: flex;
  align-content: center;

  &__item {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;

    &--search {
      display: none;

      @include r($md) {
        display: block;
      }
    }

    &--login {
      @include r($xl) {
        display: none;
      }
    }

    &--favorites {
      @include r($xl) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-right: 12px;

      @include r($xga) {
        margin-right: 8px;
      }
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    @include r($xga) {
      width: 44px;
      height: 44px;
    }
  }

  &__num {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    color: $red-900;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
  }
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 495px;
  transform: translateX(105%);
  transition: transform 0.5s ease-out;
  width: 100%;
  background-color: $white;
  z-index: 999;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include r($ml) {
    top: 120px;
    height: calc(100vh - 120px);
    font-size: 14px;
  }

  @include r($md) {
    top: 114px;
    height: calc(100vh - 114px);
  }

  @include l($ml) {
    top: 0;
    height: 100vh;
  }

  &--active {
    transform: translateX(0);
    transition: transform 0.5s ease-out;
  }

  &__top {
    padding: 19px 26px 12px 24px;
    position: relative;

    @include l($ml) {
      padding: 10px 25px;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.2;
  }

  &__clear {
    font-weight: 300;
    line-height: 1.2;
  }

  &__close {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__items {
    flex-grow: 1;
    background-color: $silver-100;
    padding: 12px;
    border: 1px solid rgba($silver-600, 0.3);
    overflow: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__total {
    text-align: center;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 1.2;

    @include r($md) {
      padding: 18px 15px;
      font-size: 14px;
    }

    @include l($ml) {
      padding: 14px 15px;
      font-size: 14px;
    }
  }

  &__total-price {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;

    @include r($md) {
      font-size: 18px;
    }
  }

  &__btn {
    width: 100%;
    padding: 22px 0;
    border-radius: 0;
    font-size: 18px;
    text-align: center;

    @include r($md) {
      padding: 12px 0;
    }

    @include l($ml) {
      padding: 12px 0;
    }
  }
}

.promo-slider {
  letter-spacing: 0;

  &__item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__wrapper {
    display: flex;
    height: 600px;

    @include r($xl) {
      height: 375px;
    }

    @include r($md) {
      height: 320px;
    }

    @include l($ml) {
      height: 100vh;
    }
  }

  &__box {
    width: 100%;
    padding: 24px;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    margin: auto;

    @include r($xga) {
      width: 80%;
    }

    @include r($xl) {
      width: 100vw;
      margin: auto calc(50% - 50vw);
      border-radius: 0;
      padding: 15px;
    }
  }

  &__title {
    max-width: 800px;
    text-transform: uppercase;
    @extend %ruda;
    font-weight: 900;
    margin-bottom: 6px;
    @include line-clamp(60, 1.3, 3);

    & span {
      color: $red-900;
      @include line-clamp(60, 1.3, 1);

      @include r($xl) {
        font-size: 30px;
      }

      @include r($md) {
        font-size: 20px;
      }

    }

    @include r($xga) {
      @include line-clamp(50, 1.3, 3);
    }

    @include r($xl) {
      margin-bottom: 15px;
      max-width: 400px;
      font-size: 30px;
    }

    @include r($md) {
      font-size: 20px;
    }
  }

  &__btn {
    letter-spacing: 0.03em;

    @include r($xl) {
      font-size: 14px;
    }
  }

  &__text {
    margin-bottom: 35px;
    @include line-clamp(16, 1.4, 1);

    @include r($xl) {
      @include line-clamp(16, 1.4, 2);
      margin-bottom: 24px;

      @include r($md) {
        @include line-clamp(16, 1.4, 2);
        margin-bottom: 24px;
      }
    }
  }

  &__slick-prev,
  &__slick-next {
    position: absolute;
    top: 50%;
    z-index: 998;
    width: 60px;
    height: 60px;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-52%);

    @include r($xl) {
      z-index: -100;
    }

    &:focus {
      fill: black;
      box-shadow: 0 0 0 3px rgba($green-900, 0.5);
      background-color: $white;
    }

    &:hover {
      background-color: $green-200;
      fill: $green-900;
    }

    &:active {
      background-color: $white;
      fill: $green-900;
    }
  }

  &__slick-next {
    right: 60px;

    @include r($xga) {
      right: 20px;
    }
  }

  &__slick-prev {
    left: 60px;

    @include r($xga) {
      left: 20px;
    }
  }
}

.slick-dots {
  display: none;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;

  @include r($xl) {
    display: flex;
  }

  @include r($md) {
    bottom: 16px;
  }

  & li {

    &:not(:last-child) {
      margin-right: 10px;
    }

    & button {
      padding: 0;
      font-size: 0;
      background-color: $white;
      width: 10px;
      height: 10px;
      border: 1px solid $silver-600;
      border-radius: 50%;
    }
  }

  & .slick-active {
    & button {
      background-color: $green-900;
      border: 1px solid $green-900;
    }
  }
}

.advantages {
  background-color: $silver-100;
  padding: 48px 0 30px;
  letter-spacing: 0;

  @include r($xga) {
    display: flex;
  }

  @include r($xl) {
    padding: 31px 0;
  }

  &__items {
    display: flex;
    justify-content: center;
    padding-left: 20px;

    @include r($xl) {
      display: block;
      flex-direction: column;
      align-items: flex-end;
      padding-left: 74px;
    }
  }

  &__item {
    max-width: 190px;
    position: relative;

    @include r($xl) {
      max-width: 330px;
    }

    &:not(:last-child) {
      margin-right: 140px;

      @include r($xl) {
        margin-bottom: 31px;
        margin-right: 0;
      }
    }

    &--scooter,
    &--return,
    &--support {
      &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        left: -74px;
        top: 0;
      }

    }

    &--scooter {
      &::after {
        background-image: url('../images/icons/scooter.svg');
        height: 43px;
      }
    }

    &--return {
      &::after {
        background-image: url('../images/icons/return.svg');
      }
    }

    &--support {
      &::after {
        background-image: url('../images/icons/support.svg');
      }
    }
  }

  &__title {
    margin-bottom: 7px;
    @extend %opensans;
    font-weight: 600;
    @include line-clamp(16, 1.4, 1);
  }

  &__text {
    @include line-clamp(14, 1.4, 2);
  }
}



.best-products {
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 47px;

    @include r($xga) {
      grid-template-columns: repeat(4, minmax(130px, 1fr));
      grid-gap: 15px;
      margin-bottom: 24px;
    }

    @include r($md) {
      grid-template-columns: repeat(2, minmax(130px, 1fr));
      grid-gap: 5px;
      margin-bottom: 24px;
    }

    @include l($xl) {
      grid-template-columns: repeat(4, minmax(130px, 1fr));
      grid-gap: 5px;
      margin-bottom: 24px;
    }

  }

  &__add {
    display: inline-block;
    padding: 11px 23px;
    color: $green-900;
    background-color: $white;
    border: 1px solid $green-900;

    &:hover {
      background-color: $green-100;
    }

    &:active {
      color: rgba($green-900, 0.5);
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
    }

  }
}

.product-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
  font-size: 15px;
  @extend %opensans;
  font-weight: 700;

  @include r($md) {
    flex-wrap: wrap;
    gap: 15px 31px;
  }

  @include r($ml) {
    font-size: 14px;
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 24px;

      @include r($md) {
        margin-right: 0;
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    transition: border-bottom-width 0.3s;

    &:hover {
      border-bottom: 3px solid $green-200;
    }
  }
}

.mixitup-control-active {
  border-bottom: 3px solid $green-200;
}

.product-card {
  max-width: 300px;
  border: 1px solid rgba($black-400, 0.2);
  background-color: $white;
  border-radius: 6px;
  transition: border-color 0.3s;
  padding: 56px 0 17px;
  position: relative;
  text-align: left;

  &--min {
    display: flex;
    padding: 11px;

    @include r($ml) {
      margin: 0 auto;
    }

    .product-card {
      &__img {
        margin: 0;
        margin-right: 12px;
        align-self: center;
        width: 100px;
        height: 100px;
      }

      &__title {
        width: 164px;
        min-height: 58px;
        margin-bottom: 7px;
        padding: 0;
      }

      &__offers {
        flex-direction: row;
        align-items: baseline;
        font-size: 12px;
        max-width: 119px;
        width: 100%;
        margin-right: 3px;
      }

      &__info {
        display: block;
        padding: 0;
      }

      &__price {
        font-size: 20px;
        font-weight: 600;
        margin-right: 15px;

        &--old {
          margin-bottom: 0;
        }

        &::after {
          content: "₽";
          font-size: 14px;
        }
      }
    }
  }

  &--cart {
    max-width: 472px;
    max-height: 84px;
    display: flex;
    padding: 11px;
    width: 100%;
    border-radius: 3px;
    justify-content: space-between;

    @include r($xl) {
      display: flex;
      flex-direction: column;
      min-height: 126px;
    }

    &:hover {
      border: 1px solid transparent;
    }

    .product-card {
      &__delete {
        width: 12px;
        height: 12px;
        position: absolute;
        right: 12px;
        top: 12px;
      }

      &__title {
        padding: 0;
        margin-bottom: 5px;
        min-height: 0;
        @include line-clamp(14, 1.4, 2)
      }

      &__price {
        font-size: 20px;
        line-height: 1;
      }

      &__img {
        align-self: center;
        margin: 0;
        margin-right: 32px;
        width: 60px;
        height: 60px;

        @include r($md) {
          margin-right: 12px;
        }
      }

      &__info {
        padding: 0;
        margin-right: 32px;
        display: flex;
        align-items: center;

        @include r($xl) {
          margin-right: 0;
        }
      }

      &__offers {
        padding: 0;
        min-width: 170px;
        width: 100%;
        display: block;
      }

      &__total {
        display: flex;
        align-items: flex-end;

        @include r($xl) {
          justify-content: space-between;
        }
      }

      &__count {
        display: flex;
        justify-content: center;
        align-self: end;
        margin-right: 12px;

        @include r($xl) {
          margin-right: 0;
          align-self: center;
        }
      }

      &__bt-minus,
      &__bt-plus {
        color: $white;
        height: 24px;
        width: 24px;
        border-radius: 0;
        background-color: $green-900;
        cursor: pointer;
      }

      &__quantity {
        background-color: rgba($green-900, 0.1);
        text-align: center;
        height: 24px;
        border-radius: 0;
        width: 36px;

      }

      &__product-price {
        align-self: flex-end;
        font-size: 20px;
      }
    }
  }

  &:hover {
    border: 1px solid $green-900;
  }

  &__badges,
  &__status {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    @extend %opensans;
  }

  &__badges {
    position: absolute;
    left: 11px;
    top: 11px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
  }

  &__badge {
    padding: 3px 6px;
    color: $white;
    border-radius: 6px;


    &--new {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__heart {
    position: absolute;
    fill: $silver-600;
    right: 11px;
    top: 16px;
    transition: fill 0.3s;

    &:hover {
      fill: $orange-900;
    }
  }

  &__img {
    margin-bottom: 18px;
    object-fit: cover;

    @include r($xga) {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    @extend %opensans;
    font-weight: 600;
    padding: 0 17px;
    margin-bottom: 9px;
    min-height: 60px;
    @include line-clamp(14, 1.4, 3);

    @include r($se) {
      min-height: 48px;
      font-size: 12px;
    }

    @include l($md) {
      @include line-clamp(12, 1.4, 3);
      min-height: 48px;
    }
  }

  &__info {
    padding: 0 18px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__status {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;

    &--in-stock {
      color: $green-900;
    }

    &--running-out {
      color: $red-900
    }

    &--not-available {
      color: $silver-600
    }
  }

  &__offers {
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__price {

    &--old {
      margin-bottom: 3px;
      position: relative;
      color: $silver-600;

      &::after {
        content: '';
        position: absolute;
        border-bottom: 1px solid $silver-600;
        width: 98%;
        height: 50%;
        left: 0;
        transform: rotate(-13.99deg);
      }
    }
  }

  &__cart {
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: $green-900;
    border-radius: 3px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__rating {
    line-height: 1;
    font-weight: 700;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/star.svg');
      right: -18px;
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);

    }
  }
}

.promo-banners {
  color: $dark-500;
  text-transform: uppercase;
  @extend %opensans;
  font-weight: 700;
  letter-spacing: 0;

  &__items {
    display: grid;
    grid-template-columns: 630px 1fr 1fr;
    grid-gap: 30px;

    @include r($xga) {
      grid-template-columns: 430px 1fr 1fr;
      grid-gap: 20px;
    }

    @include r($xl) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }

    @include r($md) {
      grid-template-columns: 1fr;
      grid-template-row: repeat(3, 1fr);
      grid-gap: 15px;
    }
  }

  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    padding: 77px 33px 82px;

    @include r(xga) {
      padding: 65px 30px 70px;
    }

    @include r($xl) {
      padding: 77px 30px 31px;
    }

    &--fruits {
      color: $white;
      text-shadow: 1px 1px 0 rgba($black, 0.25);

      @include r($xl) {
        grid-column: 1 / 3;
      }

      @include r($md) {
        grid-column: 1 / 1;
      }
    }
  }

  &__title {
    letter-spacing: 0.1em;
    margin-bottom: 16px;
    @include line-clamp(12, 1, 1);
  }

  &__subtitle {
    max-width: 160px;
    margin-bottom: 9px;
    @extend %ruda;
    font-weight: 600;
    @include line-clamp(30, 1.4, 2);

    @include r($xl) {
      margin-bottom: 77px;
    }

    &--fruits {
      max-width: 352px;
      text-shadow: 2px 2px 0 rgba($black, 0.25);

      @include r($xl) {
        max-width: 275px;
        font-size: 24px;
      }
    }
  }

  &__link {
    line-height: 1;
    border-bottom: 2px solid $dark-500;
    padding-bottom: 4px;
    transition: opacity 0.3s;

    &--fruits {
      border-bottom: 2px solid $white;
    }

    &:hover {
      opacity: 0.6;
    }

  }
}

.promotions {
  text-align: center;
  background-color: $silver-100;
  padding: 72px 0;

  &__product-filters {
    letter-spacing: 0.1em;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 47px;

    @include r($xga) {
      grid-template-columns: repeat(3, 300px);
      grid-gap: 25px;
      justify-content: center;
      margin-bottom: 30px;
    }

    @include r($xl) {
      grid-template-columns: repeat(2, 300px);
      grid-gap: 25px;
    }

    @include r($md) {
      margin-bottom: 24px;
      display: block;
    }

    @include l($xl) {
      grid-template-columns: repeat(2, 300px);
      margin-bottom: 24px;
      justify-content: center;
      grid-gap: 15px;
    }

    @include l($md) {
      margin-bottom: 24px;
      display: block;
      grid-gap: 10px;
    }
  }

  &__item {
    &:not(:last-child) {
      @include r($ml) {
        margin-bottom: 15px;
      }

      @include l($xl) {
        margin-bottom: 0;
      }

      @include l($md) {
        margin-bottom: 15px;
      }

    }
  }
}

.partners {
  margin-bottom: 68px;

  &__items {
    padding: 0 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include r($xga) {
      padding: 0;
      display: block;
      margin: 0 -15px;
    }
  }

  &__link {
    opacity: 0.5;
    transition: opacity 0.3s;
    display: block;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }
}

.slick-center {
  .partners__item {
    .partners__link {
      opacity: 1;
      //  допускается ли в данном случае подобная запись?
    }
  }
}

.shope-news {
  &__top {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include r($xga) {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 0;

    @include r($xga) {
      text-align: left;
      margin-bottom: 12px;
    }
  }

  &__link {
    line-height: 1;
    color: $green-900;
    border-bottom: 2px solid $green-900;
    align-self: center;
    padding: 0 6px 6px 0;
    transition: color 0.3s;
    font-weight: 700;

    &:hover {
      color: $green-1200
    }

    &:active {
      color: $green-1200
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;

    @include r($xga) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item {
    @include r($xga) {
      margin: 0 auto;
    }

    &:not(:last-child) {
      @include r($xga) {
        margin-bottom: 14px;
      }
    }
  }
}

.news-card {
  box-shadow: 0 3px 3px rgba($black, 0.25);
  border-radius: 6px;
  max-width: 410px;
  position: relative;
  padding-bottom: 18px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 6px 6px rgba($black, 0.25);
  }

  &__img {
    border-radius: 6px 6px 0 0;
    object-fit: cover;
    margin-bottom: 18px;
  }

  &__text {
    padding: 0 18px;
    min-height: 72px;
    font-weight: 600;
    letter-spacing: 0;
    transition: color 0.3s;
    @include line-clamp(16, 1.5, 3);

    @include r($ml) {
      font-size: 14px;
      min-height: 0;
      max-width: 350px;
    }

    @include r($se) {
      max-width: 290px;
    }

    &:hover {
      color: $green-900;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    max-width: 65px;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 18px 0 10px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    color: $dark-900;
    text-transform: uppercase;
  }

  &__mount {
    font-size: 10px;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__num {
    font-size: 30px;
    line-height: 1;
    @extend %ruda;
    font-weight: 600;
  }
}


.footer {
  background-color: $dark-800;
  color: $white;
  letter-spacing: 0;

  &__top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    padding-top: 30px;

    @include r($xl) {
      padding-top: 25px;
      justify-content: center;
      margin-bottom: 24px;
    }
  }

  &__middle {
    display: flex;
    padding-bottom: 30px;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;

    @include r($xl) {
      padding-bottom: 0;
      flex-direction: column-reverse;
      align-items: center;
    }

    &::after {
      content: '';
      border-bottom: 1px solid $white;
      position: absolute;
      opacity: 0.1;
      bottom: 0;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin: 0 -50vw;

      @include r($xl) {
        opacity: 0.0;
      }
    }

  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;

    @include r($xl) {
      flex-direction: column-reverse;
    }
  }

  &__connection,
  &__menu,
  &__sub {
    position: relative;

    @include r($xl) {
      padding-bottom: 24px;
      margin-bottom: 20px;
    }

    &::after {
      border-bottom: 1px solid $white;
      position: absolute;
      opacity: 0.1;
      bottom: 0;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin: 0 -50vw;

      @include r($xl) {
        content: '';
      }
    }
  }

  &__sub {
    @include r($xl) {
      margin-bottom: 0;
    }
  }

  &__menu {
    padding-left: 71px;

    @include r($xga) {
      padding-left: 30px;
    }

    @include r($ml) {

      padding-left: 36px;
    }

    @include r($se) {
      padding-left: 0;
    }

    @include l($xl) {
      padding-left: 71px;
      margin: 0 auto 24px;
    }
  }

  &__item {
    margin-bottom: 18px;
  }

  &__link {
    transition: opacity 0.2s;
    margin-bottom: 18px;

    &:hover {
      opacity: 0.7;
    }
  }

  &__payment {
    display: flex;

    @include r($xl) {
      margin-bottom: 20px;
    }
  }

  &__system {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.sub {
  max-width: 306px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;

  &__label {
    color: $white;
    margin-bottom: 18px;
    padding-bottom: 0;
  }

  &__input {
    max-width: 181px;
    width: 100%;
    padding: 12px;
    background-color: $white;
    height: 40px;
    border-radius: 6px 0 0 6px;

    @include r($se) {
      max-width: 160px;
    }
  }

  &__btn {
    height: 40px;
    padding: 0 16px;
    line-height: 1.4;
    border-radius: 0 6px 6px 0;
    @extend %opensans;
    font-weight: 700;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;

    @include r($se) {
      padding: 0 12px;
    }
  }
}

.menu {
  columns: 3;
  column-gap: 77px;

  @include r($xga) {
    columns: 2;
    column-gap: 50px;
  }

  @include r($ml) {
    columns: 2;
    column-gap: 45px;
  }

  @include r($se) {
    columns: 1;
    column-gap: 0;
  }

  @include l($ml) {
    columns: 2;
    column-gap: 70px;
  }

  &--mobile {
    columns: 1;
    padding-top: 17px;
    margin-right: 0;

    .menu {

      &__item {
        font-size: 18px;
        line-height: 1.2;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      &__link {
        padding: 15px;
        display: block;

        @include r($md) {
          padding: 10px;
        }

        @include l($xl) {
          padding: 10px;
        }
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }

  &__link {
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.connection {
  &--mobile {
    .connection {
      &__list {
        padding-top: 26px;
        font-size: 18px;
        margin-bottom: 9px;

        & a {
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }

      &__tel,
      &__address {
        position: relative;
        padding: 9px 0 9px 54px;
        line-height: 1;
        display: block;

        &::after {
          content: '';
          position: absolute;
          background-image: url('../images/icons/icon-tel.svg');
          width: 24px;
          height: 24px;
          left: 15px;
          top: 0;
          bottom: 0;
          margin: auto 0;
        }
      }

      &__address {
        line-height: 1.2;

        &::after {
          background-image: url('../images/icons/loc.svg');
          height: 32px;
        }
      }
    }
  }

  &__list {
    margin-bottom: 19px;

    & a {
      display: block;
      transition: color 0.3s;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }

  &:hover {
    color: $green-900;
  }
}

.social {
  display: flex;

  @include r($xl) {
    justify-content: center;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}