 <section class="section best-products">
   <div class="container" data-ref="container-1">
     <h2 class="title">
       топовые товары
     </h2>
     <ul class="product-filters">
       <li class="product-filters__filter">
         <button class="product-filters__btn" data-filter="all" type="button">
           все товары
         </button>
       </li>
       <li class="product-filters__filter">
         <button class="product-filters__btn" data-filter=".category-a" type="button">
           фрукты
         </button>
       </li>
       <li class="product-filters__filter">
         <button class="product-filters__btn" data-filter=".category-b" type="button">
           овощи
         </button>
       </li>
       <li class="product-filters__filter">
         <button class="product-filters__btn" data-filter=".category-c" type="button">
           напитки
         </button>
       </li>
       <li class="product-filters__filter">
         <button class="product-filters__btn" data-filter=".category-d" type="button">
           бакалея
         </button>
       </li>
     </ul>
     <ul class="best-products__list">
       <li class="best-products__item mix category-a" data-fancybox="single">
         <article class="product-card">
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span> 
    <span class="product-card__badge product-card__badge--sale">
      -50%
    </span> 
  </div>
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-1.jpg" width="298" height="215"
    alt="Ананас, 1кг">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Ананас, 1кг</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--old">1999 ₽</span>
        <span class="product-card__price product-card__price--new">999 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>

       <li class="best-products__item mix category-a" data-fancybox="single">
         <article class="product-card">
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-2.jpg" width="298" height="215"
    alt="Лимон, 1кг">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Лимон, 1кг</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--new">199 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>

       <li class="best-products__item mix category-a" data-fancybox="single">
         <article class="product-card">
  <div class="product-card__badges">  
    <span class="product-card__badge product-card__badge--hit">
      хит
    </span>
  </div>
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-3.jpg" width="298" height="215"
    alt="Питахайя красная с белой мякотью, 1шт">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Питахайя красная с белой мякотью, 1шт</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--new">1019 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>

       <li class="best-products__item mix category-b" data-fancybox="single">
         <article class="product-card">
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span>  
  </div>
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-4.jpg" width="298" height="215"
    alt="Перец оранжевый, 1кг">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Перец оранжевый, 1кг</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--new">349 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>

       <li class="best-products__item mix category-b" data-fancybox="single">
         <article class="product-card">
  <div class="product-card__badges">  
    <span class="product-card__badge product-card__badge--hit">
      хит
    </span>
  </div>
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-5.jpg" width="298" height="215"
    alt="Морковь молодая с бабушкиной грядки, 1кг">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Морковь молодая с бабушкиной грядки, 1кг</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--new">49 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>

       <li class="best-products__item mix category-c" data-fancybox="single">
         <article class="product-card">
  <div class="product-card__badges"> 
    <span class="product-card__badge product-card__badge--sale">
      -50%
    </span> 
  </div>
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-6.jpg" width="298" height="215"
    alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--new">199 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>

       <li class="best-products__item mix category-d" data-fancybox="single">
         <article class="product-card">
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span>  
  </div>
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-7.jpg" width="298" height="215"
    alt="Кофе с коноплей органический Caffé Salomoni 250г">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Кофе с коноплей органический Caffé Salomoni 250г</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--new">877 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>

       <li class="best-products__item mix category-d" data-fancybox="single">
         <article class="product-card">
  <button class="product-card__heart" type="button" aria-label="добавить в избранное">
    <svg class="product-card__heart-icon">
      <use xlink:href="images/sprite.svg#heart"></use>
    </svg>
  </button>
  <img class="product-card__img" src="images/card/product-card_photo-8.jpg" width="298" height="215"
    alt="Кетчуп томатный детский органический Bio-Zentrale 500мл">
  <div class="product-card__box"> 
    <h3 class="product-card__title">Кетчуп томатный детский органический Bio-Zentrale 500мл</h3>
    <div class="product-card__bottom">
      <div class="product-card__offers"> 
        <span class="product-card__price product-card__price--new">600 ₽</span>
      </div>
      <button class="product-card__cart btn" type="button" aria-label="добавить товар в корзину">
        <svg class="cart-cart-icon">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
  </div>
</article> 
       </li>
     </ul>
     <a class="best-products__add btn" href="#">Показать еще</a>
   </div>
 </section>