<section class="section promo-banners">
  <h2 class="visually-hidden">
    свежее предложение
  </h2>
  <div class="container">
    <ul class="promo-banners__items">
      <li class="promo-banners__item promo-banners__item--fruits"
        style="background-image: url(images/banners/fruits.jpg);">
        <p class="promo-banners__title">
          свежайшие фрукты
        </p>
        <h3 class="promo-banners__subtitle promo-banners__subtitle--fruits">
          начни фруктовое лето всего от 99 ₽
        </h3>
        <a class="promo-banners__link promo-banners__link--fruits" href="#">перейти к покупкам</a>
      </li>
      <li class="promo-banners__item" style="background-image: url(images/banners/veg.jpg);">
        <p class="promo-banners__title">
          сезонная распродажа
        </p>
        <h3 class="promo-banners__subtitle">
          овощепад до -50%
        </h3>
        <a class="promo-banners__link" href="#">перейти к покупкам</a>
      </li>
      <li class="promo-banners__item" style="background-image: url(images/banners/bread.jpg);">
        <p class="promo-banners__title">
          ням-ням
        </p>
        <h3 class="promo-banners__subtitle">
          свежий хлебчик
        </h3>
        <a class="promo-banners__link" href="#">перейти к покупкам</a>
      </li>
    </ul>
  </div>
</section>