<section class="promo-slider">
  <h2 class="visually-hidden">Наши акции</h2>
  <ul class="promo-slider__items">
    <li class="slider__item" style="background-image: url('images/slider/slider_bg-1.jpg')">
      <div class="container">
        <div class="promo-slider__wrapper">
          <div class="promo-slider__box">
            <h3 class="promo-slider__title">
              свежачок вам в хату
              <span>скидка -50%</span>
            </h3>
            <div class="promo-slider__text">
              <p>
                Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
              </p>
            </div>
            <a class="promo-slider__btn btn" href="#">Купить сейчас</a>
          </div>
        </div>
      </div>
    </li>
    <li class="promo-slider__item" style="background-image: url('images/slider/slider_bg-2.jpg')">
      <div class="container">
        <div class="promo-slider__wrapper">
          <div class="promo-slider__box">
            <h3 class="promo-slider__title">
              накрути себе томатов
              <span>акция: 3 кг по цене 1</span>
            </h3>
            <div class="promo-slider__text">
              <p>
                Только с 12 по 15 июля скидка на домашние помидорчики
              </p>
            </div>
            <a class="promo-slider__btn btn" href="#">Купить сейчас</a>
          </div>
        </div>
      </div>
    </li>
    <li class="promo-slider__item" style="background-image: url('images/slider/slider_bg-3.jpg')">
      <div class="container">
        <div class="promo-slider__wrapper">
          <div class="promo-slider__box">
            <h3 class="promo-slider__title">
              пусть остальные позеленеют от зависти
              <span>распродажа зелени</span>
            </h3>
            <a class="promo-slider__btn btn" href="#">Купить сейчас</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>