<section class="promotions section">
  <div class="container" data-ref="container-2">
    <h2 class="title">акции</h2>
    <ul class="product-filters promotions__product-filters">
      <li class="product-filters__filter">
        <button class="product-filters__btn" data-filter="all" type="button">
          все товары
        </button>
      </li>
      <li class="product-filters__filter">
        <button class="product-filters__btn" data-filter=".category-a" type="button">
          новинки
        </button>
      </li>
      <li class="product-filters__filter">
        <button class="product-filters__btn" data-filter=".category-b" type="button">
          хиты
        </button>
      </li>
    </ul>
    <ul class="promotions__list">
      <li class="promotions__item mix category-a" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span>  
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-1--min.jpg" width="100"
    height="100" alt="Ананас, 1 кг">
  <div class="product-card__box">
    <h3 class="product-card__title">Ананас, 1 кг</h3>
    
    
    <span class="product-card__status product-card__status--in-stock">в наличии</span>
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">999 </span>
        
        <span class="product-card__price product-card__price--old">1999 </span>
      </div>
      <span class="product-card__rating">
        4.5
      </span>
    </div>
  </div>
</article>
      </li>
      <li class="promotions__item mix category-a" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span>  
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-2--min.jpg" width="100"
    height="75" alt="Кофе с коноплей органический Caffé Salomoni 250г">
  <div class="product-card__box">
    <h3 class="product-card__title">Кофе с коноплей органический Caffé Salomoni 250г</h3>
    
    <span
      class="product-card__status product-card__status--running-out">заканчивается</span>
    
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">777 </span>
        
        <span class="product-card__price product-card__price--old">877 </span>
      </div>
      <span class="product-card__rating">
        4.9
      </span>
    </div>
  </div>
</article>
      </li>
      <li class="promotions__item mix category-a" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span>  
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-3--min.jpg" width="100"
    height="100" alt="Клубника, 1 кг">
  <div class="product-card__box">
    <h3 class="product-card__title">Клубника, 1 кг</h3>
    <span class="product-card__status product-card__status--not-available">нет в
      наличии</span>
    
    
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">440 </span>
        
        <span class="product-card__price product-card__price--old">600 </span>
      </div>
      <span class="product-card__rating">
        5.0
      </span>
    </div>
  </div>
</article>
      </li>
      <li class="promotions__item mix category-a" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span>  
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-4--min.jpg" width="100"
    height="100" alt="Манго, 1 шт">
  <div class="product-card__box">
    <h3 class="product-card__title">Манго, 1 шт</h3>
    
    
    <span class="product-card__status product-card__status--in-stock">в наличии</span>
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">600 </span>
        
        <span class="product-card__price product-card__price--old">960 </span>
      </div>
      <span class="product-card__rating">
        5.0
      </span>
    </div>
  </div>
</article>
      </li>
      <li class="promotions__item mix category-a" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">
    <span class="product-card__badge product-card__badge--new">
      новинка
    </span>  
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-5--min.jpg" width="100"
    height="100" alt="Лосось, 1 кг">
  <div class="product-card__box">
    <h3 class="product-card__title">Лосось, 1 кг</h3>
    
    
    <span class="product-card__status product-card__status--in-stock">в наличии</span>
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">999 </span>
        
        <span class="product-card__price product-card__price--old">1199 </span>
      </div>
      <span class="product-card__rating">
        4.5
      </span>
    </div>
  </div>
</article>
      </li>
      <li class="promotions__item mix category-b" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">  
    <span class="product-card__badge product-card__badge--hit">
      хит
    </span>
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-6--min.jpg" width="100"
    height="100" alt="Сок Granini овощной 100%, 0.5л">
  <div class="product-card__box">
    <h3 class="product-card__title">Сок Granini овощной 100%, 0.5л</h3>
    
    <span
      class="product-card__status product-card__status--running-out">заканчивается</span>
    
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">180 </span>
        
        <span class="product-card__price product-card__price--old">230 </span>
      </div>
      <span class="product-card__rating">
        4.9
      </span>
    </div>
  </div>
</article>
      </li>
      <li class="promotions__item mix category-b" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">  
    <span class="product-card__badge product-card__badge--hit">
      хит
    </span>
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-7--min.jpg" width="100"
    height="100" alt="Фруктовая корзина, 1 шт">
  <div class="product-card__box">
    <h3 class="product-card__title">Фруктовая корзина, 1 шт</h3>
    
    
    <span class="product-card__status product-card__status--in-stock">в наличии</span>
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">3990 </span>
        
        <span class="product-card__price product-card__price--old">5990 </span>
      </div>
      <span class="product-card__rating">
        4.8
      </span>
    </div>
  </div>
</article>
      </li>
      <li class="promotions__item mix category-b" data-fancybox="single">
         <article class="product-card product-card--min">
  
  <div class="product-card__badges">  
    <span class="product-card__badge product-card__badge--hit">
      хит
    </span>
  </div>
  <img class="product-card__img" src="images/card/litle/product-card_photo-8--min.jpg" width="100"
    height="100" alt="Свинина мякоть, 1 кг">
  <div class="product-card__box">
    <h3 class="product-card__title">Свинина мякоть, 1 кг</h3>
    
    
    <span class="product-card__status product-card__status--in-stock">в наличии</span>
    <div class="product-card__bottom">
      <div class="product-card__offers">
        <span class="product-card__price product-card__price--new">999 </span>
        
        <span class="product-card__price product-card__price--old">1999 </span>
      </div>
      <span class="product-card__rating">
        4.6
      </span>
    </div>
  </div>
</article>
      </li>
    </ul>
  </div>
  <a class="promotions__add btn" href="#">Показать еще</a>
</section>