<section class="product-one">
  <div class="container">
    <div class="product-one__inner">
      <div class="product-one__slider">
        <img class="product-one__img" src="/images/product-page/fruit_dragonfruit.jpg"
          alt="Питахайя красная с белой мякотью" width="420" height="420">
      </div>
      <div class="product-one__box">
        <div class="product-one__title">Питахайя красная с белой мякотью</div>
        <div class="product-one__badges">
          <span class="product-one__badge">
            хит
          </span>
        </div>
        <div class="product-one__data">
          <span class="product-one__code">Код: 0111111</span>
          <div class="product-one__rating">123</div>
          <span class="product-one__status">в наличии</span>
        </div>
        <div class="product-one__offer">
          <span class="product-one__price product-one__price--old">299 ₽ </ы>
            <span class="product-one__price product-one__price--new">199 ₽ </span>
        </div>
        <div class="product-one__add-product">
          <form class="product-one__count">
            <button class="product-one__bt-minus" type="button" aria-label="уменьшить количество товаров">-</button>
            <input class="product-one__quantity" type="text" value="2" data-max-count="20">
            <button class="product-one__bt-plus" type="button" aria-label="увеличить количество товаров">+</button>
          </form>
          <button class="product-one__add-basket" type="button">добавить в корзину</button>
          <button class="product-one__heart" type="button" aria-label="добавить в избранное">
            <svg class="heart-product-icon">
              <use xlink:href="images/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <h3 class="product-one__shipping">Доставка и оплата</h3>
        <p class="product-one__shipping-info">
          Минимальная сумма заказа - 100 руб.<br>
          Время доставки заказа - 60-120 мин.<br>
          Оплата осуществляется только банковской картой.<br>
          Окончательная сумма заказа формируется после сбора товаров.</p>
        <div class="detail">Подробнее</div>
      </div>
    </div>
  </div>
</section>