  <footer class="footer">
    <div class="container">
      <div class="footer__top">
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.svg" width="200" height="60" alt="логотип">
        </a>
      </div>
      <div class="footer__middle">
        <form class="footer__sub sub">
          <label class="sub__label" for="useremail">Следите за нашими акциями</label>
          <input class="sub__input" id="useremail" type="email" placeholder="email@email.com" name="sub-useremail"
            required>
          <button class="sub__btn  btn" type="submit">подписаться</button>
        </form>
        <ul class="footer__menu menu">

          <li class="menu__item">
            <a class="menu__link" href="#">
              О нас
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              Контакты
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              Публичная оферта
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              Оплата и доставка
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link " href="#">
              Вакансии
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link " href="#">
              Акции
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link " href="#">
              Отзывы
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link " href="#">
              Новости
            </a>
          </li>
        </ul>
        <address class="footer__connection connection">
          <div class="connection__list">
            <a class="connection__tel" href="tel:+7907288365">
              Горячая линия +7 907 288 365
            </a>
            <a class="connection__address" href="https://goo.gl/maps/fzFgZW8zjE5uskLi9" target="_blank">
              Санкт-Петербург, Ул. Ленина, 1
            </a>
          </div>
          <ul class="footer__social social">
            <li class="social__list">
              <a class="social__link" href="#" aria-label="Наш Facebook">
                <svg class="social__icon" width="33" height="32">
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="Наш Youtube">
                <svg class="social__icon" width="32" height="32">
                  <use xlink:href="images/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="Наш Telegram">
                <svg class="social__icon" width="33" height="32">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="Наш Instagram">
                <svg class="social__icon" width="33" height="32">
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer__bottom">
        <div class="footer__copy">
          © 2021 ФРЕШОК
        </div>
        <ul class="footer__payment">
          <li class="footer__system">
            <span class="visually-hidden">Мы принимаем Visa</span>
            <svg class="footer__system-icon" width="93" height="29">
              <use xlink:href="images/sprite.svg#visa"></use>
            </svg>
          </li>
          <li class="footer__system">
            <span class="visually-hidden">Мы принемаем MasterCard</span>
            <svg class="footer__system-icon" width="49" height="29">
              <use xlink:href="images/sprite.svg#mc"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </footer>