        <section class="brand-filter">
          <h2 class="filter__title filter__title--active" tabindex="0">Бренд</h2>
          <form class="filter__form" action="#" >
            <label class="brand-filter__label" tabindex="0">
              <input class="brand-filter__input" type="checkbox" tabindex="-1">
              <span class="brand-filter__checkbox"></span>
              CocaCola
            </label>
            <label class="brand-filter__label" tabindex="0">
              <input class="brand-filter__input" type="checkbox" tabindex="-1">
              <span class="brand-filter__checkbox"></span>
              Pepsi
            </label>
            <label class="brand-filter__label" tabindex="0">
              <input class="brand-filter__input" type="checkbox" tabindex="-1">
              <span class="brand-filter__checkbox"></span>
              Sprite
            </label>
            <label class="brand-filter__label" tabindex="0">
              <input class="brand-filter__input" type="checkbox" tabindex="-1">
              <span class="brand-filter__checkbox"></span>
              Fanta
            </label>
            <label class="brand-filter__label" tabindex="0">
              <input class="brand-filter__input" type="checkbox" tabindex="-1">
              <span class="brand-filter__checkbox"></span>
              RedBull
            </label>
            <label class="brand-filter__label" tabindex="0">
              <input class="brand-filter__input" type="checkbox" tabindex="-1">
              <span class="brand-filter__checkbox"></span>
              Dr Pepper
            </label>
          </form>
        </section>