        <section class="offer-filter">
          <h2 class="filter__title filter__title--active" tabindex="0">Предложения</h2>
          <form class="filter__form" action="#">
            <label class="offer-filter__label" tabindex="0">
              <input class="offer-filter__input" type="checkbox" tabindex="-1">
              <span class="offer-filter__checkbox"></span>
              Со скидкой
            </label>
            <label class="offer-filter__label" tabindex="0">
              <input class="offer-filter__input" type="checkbox" tabindex="-1">
              <span class="offer-filter__checkbox"></span>
              Новинка
            </label>
            <label class="offer-filter__label" tabindex="0">
              <input class="offer-filter__input" type="checkbox" tabindex="-1">
              <span class="offer-filter__checkbox"></span>
              Хит
            </label>
          </form>
        </section>