<div class="modal" id="modal">
  <div class="modal__body">
    <button class="modal__close" type="button" aria-label="закрыть изображение товара">
      <svg class="modal__close-icon" width="32" height="32">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__content">
      <div class="modal__slide">
        <img class="modal__img" src="/images/product-page/fruit_dragonfruit.jpg" alt="" width="750" height="750">
      </div>
      <div class="modal__slide">
        <img class="modal__img" src="/images/product-page/fruit_dragonfruit.jpg" alt="" width="750" height="750">
      </div>
      <div class="modal__slide">
        <img class="modal__img" src="/images/product-page/fruit_dragonfruit.jpg" alt="" width="750" height="750">
      </div>
    </div>
    <button class="modal__prev" type="button" aria-label="предыдущая картинка">
      <svg class="modal__arrow-icon" width="20" height="32">
        <use xlink:href="images/sprite.svg#prewArrow"></use>
      </svg>
    </button>
    <button class="modal__next" type="button" aria-label="слудующая картинка">
      <svg class="modal__arrow-icon" width="20" height="32">
        <use xlink:href="images/sprite.svg#nextArrow"></use>
      </svg>
    </button>
    <div class="modal__dots"></div>
  </div>
</div>