<section class="product-one">
  <div class="container product-one__container">
    <div class="product-one__top">
      <div class="product-one__slider">
        <a class="product-one__wrapper modal-link" href="#modal" aria-label="открыть изображение товара">
          <div class="product-one__slide">
            <img class="product-one__img" src="/images/product-page/fruit_dragonfruit.jpg"
              alt="Питахайя красная с белой мякотью" width="420" height="420">
          </div>
          <div class="product-one__slide">
            <img class="product-one__img" src="/images/product-page/fruit_dragonfruit.jpg"
              alt="Питахайя красная с белой мякотью" width="420" height="420">
          </div>
          <div class="product-one__slide">
            <img class="product-one__img" src="/images/product-page/fruit_dragonfruit.jpg"
              alt="Питахайя красная с белой мякотью" width="420" height="420">
          </div>
        </a>
        <button class="product-one__prev" type="button" aria-label="предыдущая картинка">
          <svg class="product-one__arrow-icon" width="20" height="32">
            <use xlink:href="images/sprite.svg#prewArrow"></use>
          </svg>
        </button>
        <button class="product-one__next" type="button" aria-label="слудующая картинка">
          <svg class="product-one__arrow-icon" width="20" height="32">
            <use xlink:href="images/sprite.svg#nextArrow"></use>
          </svg>
        </button>
      </div>
      <div class="product-one__box">
        <h2 class="product-one__title">Питахайя красная с белой мякотью</h2>
        <div class="product-one__badges">
          <span class="product-one__badge product-one__badge--hit">
            хит
          </span>
        </div>
        <div class="product-one__data">
          <span class="product-one__code">Код: 0111111</span>
          <div class="product-one__rating" data-rateyo-rating="4"></div>
          <!-- как тут можно указывать доступность, валидатор на aria-label="рейтинг товара" ругается, только если скрытый заголовок сделать, больше незнаю -->
          <span class="product-one__status product-card__status--in-stock">
            в наличии
          </span>
        </div>
        <div class="product-one__offer">
          <span class="product-one__price product-one__price--old">299 ₽ </span>
          <span class="product-one__price product-one__price--new">199 ₽ </span>
        </div>
        <div class="product-one__add-product">
          <input class="product-one__quantity" type="number" value="1" min="1">
          <button class="product-one__add-basket btn" type="button">добавить в корзину</button>
          <button class="product-one__heart" type="button" aria-label="добавить в избранное">
            <svg class="product-one__heart-icon" width="44" height="39">
              <use xlink:href="images/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <h3 class="product-one__shipping">Доставка и оплата</h3>
        <p class="product-one__shipping-info">
          Минимальная сумма заказа - 100 руб.<br> Время доставки заказа - 60-120 мин.<br> Оплата осуществляется только
          банковской картой.<br> Окончательная сумма заказа формируется после сбора товаров.</p>
        <a class="product-one__detail" href="#">Подробнее</a>
      </div>
    </div>
    <div class="product-tabs">
      <ul class="product-tabs__list">
        <li class="product-tabs__item">
          <a class="product-tabs__tab  product-tabs__tab--active" href="#tab-1">
            описание
          </a>
        </li>
        <li class="product-tabs__item">
          <a class="product-tabs__tab" href="#tab-2">
            характеристики
          </a>
        </li>
        <li class="product-tabs__item">
          <a class="product-tabs__tab" href="#tab-3">
            отзывы (2)
          </a>
        </li>
      </ul>
      <ul class="product-tabs__info product-info">
        <li class="product-info__item  product-info__item--active" id="tab-1">
          <div class="product-info__description description">
            <div class="description__text">
              <p>
                Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует
                укреплению
                иммунной системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает
                противовоспалительное действие, так как фрукт богат антиоксидантами. При употреблении питахайи,
                понижается
                уровень сахара в крови, улучшается зрение и работа сердечно–сосудистой системы. Так как фрукт
                низкокалорийный и состоит на 90% из воды, способствует снижению веса.
              </p>
              <p>
                Витамины: С, Е, РР, витамины группы В
              </p>
              <p>
                Микроэлементы: железо, калий, кальций, магний, фосфор
              </p>
              <p>
                Внешний вид товара может отличаться от изображений, представленных на сайте.
              </p>
            </div>
          </div>
        </li>
        <li class="product-info__item" id="tab-2">
          <div class="product-info__characteristic characteristic">
            <ul class="characteristic__list">
              <li class="characteristic__item">
                <span class="characteristic__name">Вес:</span>
                <span class="characteristic__property">250-350 г;</span>
              </li>
              <li class="characteristic__item">
                <span class="characteristic__name">Калорийность (на 100г):</span>
                <span class="characteristic__property"> 50 ккал;</span>
              </li>
              <li class="characteristic__item">
                <span class="characteristic__name">Условия хранения:</span>
                <span class="characteristic__property">температура от +3 до +8;</span>
              </li>
              <li class="characteristic__item">
                <span class="characteristic__name">Другие названия:</span>
                <span class="characteristic__property">Драконов фрукт, Глаз дракона;</span>
              </li>
              <li class="characteristic__item">
                <span class="characteristic__name">Страна происхождения:</span>
                <span class="characteristic__property">Вьетнам;</span>
              </li>
              <li class="characteristic__item">
                <span class="characteristic__name">Срок хранения:</span>
                <span class="characteristic__property">до 5 дней.</span>
              </li>
            </ul>
          </div>
        </li>
        <li class="product-info__item" id="tab-3">
          <div class="product-info__reviews reviews">
            <div class="reviews-top">
              <h3 class="reviews-top__title">
                мнения наших клиентов
              </h3>
              <ul class="reviews-top__list">
                <li class="reviews-top__item">
                  <div class="reviews-top__comment">
                    <div class="reviews-top__top">
                      <img class="reviews-top__img" src="images/avatar/avatar-1.jpg" alt="аватар пользователя">
                      <div class="reviews-top__info">
                        <span class="reviews-top__author">Андрей</span>
                        <span class="reviews-top__data">10.06.2021</span>
                      </div>
                      <div class="reviews-top__rating" data-rateyo-rating="4"></div>
                    </div>
                    <div class="reviews-top__text">
                      <p>
                        Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                      </p>
                    </div>
                  </div>
                </li>
                <li class="reviews-top__item">
                  <div class="reviews-top__comment">
                    <div class="reviews-top__top">
                      <img class="reviews-top__img" src="images/avatar/avatar-1.jpg" alt="аватар пользователя">
                      <div class="reviews-top__info">
                        <span class="reviews-top__author">Екатерина Белая</span>
                        <span class="reviews-top__data">7.06.2021</span>
                      </div>
                      <div class="reviews-top__rating" data-rateyo-rating="5"></div>
                    </div>
                    <div class="reviews-top__text">
                      <p>
                        Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв), но
                        нет.
                        Вкус "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая возможность - пробовать
                        экзотические фрукты.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="reviews-form">
              <h3 class="reviews-form__title">
                оставить отзыв
              </h3>
              <div class="reviews-form__rating">
                <span>Ваша оценка *</span>
                <span class="reviews-form__star"></span>
                <!-- должно ли быть выставление рейтинга в одном элементе с кнопкой и инпутами? -->
              </div>
              <form class="reviews-form__form" action="#">
                
                <div class="reviews-form__box">
                  <label class="reviews-form__label reviews-form__label--textarea" for="review">
                    Ваш отзыв *
                    <textarea class="reviews-form__review reviews-form__review--textarea" name="reviewtext" id="review" placeholder="Введите текст отзыва" required></textarea>
                  </label>
                  <div class="reviews-form__inner">
                    <label class="reviews-form__label" for="name">
                      Имя
                      <input class="reviews-form__review" name="reviewtext" id="name" type="text"
                        placeholder="Введите ваше имя" required>
                    </label>
                    <label class="reviews-form__label" for="email">
                      Email *
                      <input class="reviews-form__review" name="reviewtext" id="email" type="email"
                        placeholder="youremail@mail.com" required>
                    </label>
                  </div>
                </div>
                <label class="reviews-form__save">
                  <input class="reviews-form__input" type="checkbox">
                  <span class="reviews-form__checkbox"></span>
                  Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
                </label>
                <button class="reviews-form__btn btn" type="submit">Оставить отзыв</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
