       <section class="categories-filter@if(context.filter === 'yes'){ filter}">
         <h2 class="filter__title filter__title--active" tabindex="0">Категории</h2>
         <form class="filter__form" action="#">
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Овощи и фрукты</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Бакалея</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Молочные продукты</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Хлеб</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Мясо</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Колбаса</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Рыба</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Алкоголь</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Напитки</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox" tabindex="-1">
             <span class="categories-filter__checkbox">Торты</span>
           </label>
           <label class="categories-filter__label" tabindex="0">
             <input class="categories-filter__input" type="checkbox">
             <span class="categories-filter__checkbox">Чай, кофе</span>
           </label>
         </form>
       </section>